main {
    min-height: 80vh;
}

h1 {
    font-size: x-large;
    padding: 2px;
}

b {
    font-size: large;
}

h5 {
    display: inline-block;
}

.comment {
    color: black;
}

.carousel-caption {
    top: 35%;
    left: 5%;
    bottom: auto;
}

.carousel-caption h2 {
    color: white;
}